#clockContainer {
    position: relative;
    margin: auto;
    background: url('clock.jpg') no-repeat;
    background-size: 100%;   /* cho ảnh phủ hết */
    width: 40vw;   /* bắt buộc có */
    height: 40vw;  /* bắt buộc có */
}
#hour, #minute , #second
{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour 
{
    top: 29.5%;
    left: 49.6%;
    width: 1%;
    height: 20%;
}
#minute{
    top: 29.3%;
    left: 49.6%;
    width: 1%;
    height: 21%;
    opacity: 0.8;
}
#second{
    top: 27%;
    left: 49.6%;
    width: 1%;
    height: 23%;
    opacity: 0.8;
}